<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987502902667-fv1qgc64vgesfrs6scu2ltt5ira7lina.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987502902667-fv1qgc64vgesfrs6scu2ltt5ira7lina</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>987502902667-bv69g9s8rc1ttfsvestfo647gikc4e8q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAt22trNHA-xc8bckIWLqYp2HOb7hIZPOA</string>
	<key>GCM_SENDER_ID</key>
	<string>987502902667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.centuri0nsGladio.autoguard</string>
	<key>PROJECT_ID</key>
	<string>cyberhackademy-pw2023-group1</string>
	<key>STORAGE_BUCKET</key>
	<string>cyberhackademy-pw2023-group1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987502902667:ios:c990b8f530f45d7f80438e</string>
</dict>
</plist>